:root{
    --font: 'Poppins', sans-serif;
    --black: #000;
    --white: #fff;
    --beige: #E5CF94;
    --light-brown: #965A1B;
    --brown: #5F3305;
    --red: #DB1E1E;
    --gray: #7D7D7D;
    --dark-white: #F5F5F5;
}