:root{
    --gray: #9F9F9F;
}
body{
    overflow: hidden;
    
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inscrição{
    display: block;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 15px;
    left:45%;
    right:50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

form label #inputbox-msg{
    text-align: center;
}

form label{
    width: 120px;
    text-align: center;
}

form #inputbox-msg textarea{
    resize: none;
}

form .inputbox{
    font-weight: bold;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    gap: 10px;
}

form .form-informations{
    border-radius: 8px;
    width: 420px;
    padding: 10px 10px;
    border: 1px solid var(--gray);
    font-weight: bold;
}

form .submit{
    background-color: var(--green);
    border: none;
    padding: 10px 45px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--darkgreen);
    border-radius: 15px;
    font-size: 15px;
}

form .submit:hover{
    transform: scale(1.05);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.inputbox input::placeholder{
    font-family: "Open Sans", sans-serif;
    color: var(--gray);
    font-size: 14px;
}

.inputbox textarea::placeholder{
    font-family: "Open Sans", sans-serif;
    color: var(--gray);
    font-size: 14px;
}