

.pagetwo{
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: block;
    padding-top: 45px;
    margin: 0;
}

.logo{
    width: 32px;
    height: 45px;
    padding-left: 85px;
}
main{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span{
    display: flex;
   align-items: end;
}

.button-segunda{
    width: 330px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button-segunda-container{
    display: flex;
    gap: 25px;
}

#btnseg{
    background-color: var(--light-blue);
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}

.btn-hist{
    background-color: var(--gray);
    border: none;
    height: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    margin-top: 15px;
}

.btn-reset{
    background-color: var(--gray);
    border: none;
    height: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    margin-top: 15px;
}

.historico-wrap{
    position: absolute;
    right: 5%;
    bottom: 50%;
}

.scoreboard{
    position: absolute;
    right: 13%;
    bottom: 25%;
}

.scoreboard > h3{
    font-size: 14px;
    font-family: var(--inter);
    color: var(--dark-blue);
    font-weight: 600;
}

.scoreboard > p{
    font-size: 14px;
    font-family: var(--inter);
    color: var(--dark-blue);
    font-weight: 500;
}
.historico-wrap > h3{
    font-size: 14px;
    font-family: var(--inter);
    color: var(--dark-blue);
    font-weight: 500;
}

li{
    font-size: 14px;
    font-family: var(--inter);
    color: var(--dark-blue);
    font-weight: 400;
    margin-bottom: 10px;
}


.boneco{
    position: relative;
    left: -5%;
    display: flex;
    flex-direction: column;

}

.result{
    font-family: var(--inter);
    font-size: 25px;
    color: var(--dark-blue);
    font-weight: 500;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) and (min-width: 431px) {
    .pagetwo{
        overflow-x: hidden;
    }
    .span{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .line-span{
        width: 40px;
    }

    .boneco{
        left: -30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
       
    }

    .hastebaixo{
        position: absolute;
        top:0px;
    }

    .historico-wrap{
        width: 33%;
        flex-wrap: wrap;
        top:15%;
    }

    .scoreboard{
        width: 33%;
        flex-wrap: wrap;
        top:35%;
        right: 5%;
        background: none;
    }
    .historico-wrap > h3{
        text-align: left;
    }
    .button-segunda-container{
        margin-top: 50px;
        padding: 0 10%;
        justify-content: center;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .button-segunda{
        width: 17rem;
        height: 60px;
    }
}


@media screen and (max-width: 430px) {
    .historico-wrap{
        width: 100%;
        flex-wrap: wrap;
        top: 10%;
        margin-left: 8%;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: none;
    }

    .scoreboard{
        width: 100%;
        flex-wrap: wrap;
        top: 10%;
        margin-left: 25%;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: none;
    }

    .pagetwo{
        width: 100%;
        overflow-x: hidden;
    }

    .span{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .line-span{
        width: 40px;
    }

    .boneco{
        left: -18%;
        display: flex;
        justify-content: center;
        flex-direction: column;
       
    }

    .hastebaixo{
        position: absolute;
        top:0px;
    }

    .historico-wrap > h3{
        text-align: center;
    }

    .button-segunda-container{
        margin-top: 50px;
        padding: 0 10%;
        flex-direction: column;
        justify-content: center;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .button-segunda{
        width: 17rem;
        height: 60px;
    }

    .erradas{
        width: 270px;
        flex-wrap: wrap;
    }

    #erradas-span{
        flex-wrap: wrap;
        gap: 20px;
    }

    .btn-hist{
        width: 100%;
       
    }

    .btn-reset{
        width: 100%;
    }

    #add-section p{
        font-size: 10px;
    }
}