:root{
    --header-color:  #003720;
    --text-autor-color: #404540;
}

.texto-autor h1 {
    color: var(--header-color);
    font-size: 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.autor-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
}


.autor-text section p{
    max-width: 750px;
    color: var(--text-autor-color);
}

.autor-text section{
    margin-top: -10px;
}

.social-images{
    margin-top: 100px;
    display: flex;
    gap: 20px;  
}

.paragrafo{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragrafo p {
    width: 1120px;
    color: var(--text-autor-color);
}

@media screen and (max-width:1294px){
    .autor-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .autor-text section p {
        width: auto;
    }

    .autor{
        width: auto;
        height: auto;
    }

    .social-images{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 50px;
    }
    
    .paragrafo p{
        max-width:850px;
    }

    
}